ul {
    list-style: none;
}

img {
    max-width: 100%;
} 

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.gallery {
    background-color: #f3f3f3;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(167,156,142,0.52);
    width: 15%;
    padding: 0 1rem;
    margin-bottom: 1rem;
}



/* ====================== Breakpoints ====================== */
  
  /* 
    ##Device = Tablets, Ipads (portrait)
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {

    .photo {
        width: 25%;
    }  
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .photo {
        width: 40%;
    }  
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles 
  */
  
  @media (max-width: 480px) {
    
    .photo {
        width: 95%;
    } 
    
  }